</head>
<body>
{include file="public/header,public/menu"/}
<section>
    <h2>欢迎来到recuder后台！</h2>
    <div class="admin" style="padding-top: 0">
        <h4>信息统计</h4>
        <table style="min-width: 700px;">
        <thead>
        <tr>
            <th>项目名称</th>
            <th>全部数量</th>
            <th>今日新增</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>分类</td>
            <td>111</td>
            <td>111</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="admin" style="padding-bottom: 20px">
        <h4>服务器信息</h4>
        <table>
            <tbody>
            <tr>
                <td>服务器计算机名</td>
                <td>http://127.0.0.1/</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</div>
{include file="public/footer"/}
