{include file="public/header"}
</head>
<body>

<header>
    {include file="public/searcher"}
    <div class="head-content">
        <div class="head-left">
            <p>您好！</p>
            <p>欢迎来到我的个人博客^_^</p>
            <p><b>在这里，我将分享我的个人所想，所爱好，尽情享受技术所带来的乐趣吧!</b></p>
        </div>
        <div class="head-right">
            <div class="outer"></div>
            <div class="middle"></div>
            <div class="inner"></div>
        </div>
    </div>
</header>
<nav>
    <i class="fa fa-bars" aria-hidden="true" style="font-size: 20px;"></i>
    <div id="model"></div>
    <ul id="category">
        <li><a href="{:url('chart/index')}">问卷</a></li>
        {volist name="indexCat" id="vo"}
        <li><a href="">{$vo.cat_name}</a></li>
        {/volist}
    </ul>
</nav>
<div class="content">
    <!--<section class="con">
        <div class="img">
            <img src="/static/index/img/foot_bg.png" alt="图片" >
        </div>

        <div class="text">
            <h2 class="title">2 元的维生素 C 和 100 元的维生素 C 区别大吗？</h2>
            <p class="meta">
                <span>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;2018-11-11
                </span>
                <span>
                    <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;200
                </span>
                <a href="javascript:;" class="up">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;<span>20</span>
                </a>
            </p>
            <p class="summary">
                2 元的维生素 C 和 100 元的维生素 C 有区别吗？
                区别还真的大！
                很多朋友也都说了：
                便宜的是药品，贵的是保健品，所以肯定是推荐买药品，便宜又可靠。
                是没有人真的头铁，去较真的做实验对比过两者到底有什么差距。
                正好，我们一直头比较铁。
            </p>
            <a href="javascript:;">BROWSE IT&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true" style="font-size: 20px;"></i></a>
        </div>
    </section>-->
    {volist name="indexArt" id="vo"}
    <section class="con">
        <div class="img">
            <img src="{$vo.article_logo}" alt="logo">
        </div>
        <div class="text">
            <h2 class="title">{$vo.article_title}</h2>
            <p class="meta">
                <span>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;
                    {$vo.create_time|date="Y-m-d"}
                </span>
                <span>
                    <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;
                    {$vo.scan|default=100}
                </span>
                <span class="up">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;
                    {$vo.agree|default=50}
                </span>
            </p>
            <p class="summary">{$vo.article_desc}</p>
            <a href="{:url('article/index',['id'=>$vo.article_id])}" target="_blank">BROWSE IT&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
    </section>
    {/volist}
</div>


<a href="javascript:;" class="top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>

<!--<div class="page">
    <ul>
        <li><a href="javascript:;"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
        <li><a href="javascript:;" class="active">1</a></li>
        <li><a href="javascript:;">2</a></li>
        <li><a href="javascript:;">3</a></li>
        <li><a href="javascript:;">4</a></li>
        <li><a href="javascript:;">5</a></li>
        <li><a href="javascript:;"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
    </ul>
</div>-->
{$indexArt|raw}


{include file="public/footer"}
{include file="public/script"}
<script src="/static/public/js/component.js"></script>
</body>
</html>

