
<form method="get" action="{:url('article/search')}" >
    <ul>

        <li class="logo">
            <a href="{:url('index/index')}">
            <img src="/static/index/img/logo.png" alt="logo">
            </a>
        </li>
        <li><input type="text" class="search" name="search" placeholder="请输入搜索内容..."></li>
        <li><input type="submit" class="find" value="SEARCH"></li>
        <!-- <li><a href="" class="manager login">登&nbsp;陆</a></li>
         <li><a href="" class="manager reg">注&nbsp;册</a></li>-->
    </ul>
</form>
