<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/static/public/css/normalize.min.css">
    <link rel="stylesheet" href="/static/public/css/font-awesome.css">


    <link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/wysiwyg/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/wysiwyg/css/default.css">
    <link rel="stylesheet" type="text/css" href="/static/wysiwyg/css/wysiwyg-editor.css"/>
    <link href="/static/wysiwyg/css/demo.css" rel="stylesheet" type="text/css"/>

    {load href="/static/admin/css/article.css" /}
    <!--[if IE]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="art-add">
    <h3>
        <span>添加文章</span>
        <a href="{:url('article/index')}" title="回到文章查看"><i class="fa fa-xing fa-lg" aria-hidden="true"></i></a>
    </h3>
    <form action="{:url('article/save')}" method="post" enctype="multipart/form-data">
        <p><label>
        <span>文章名称</span>
        <input type="text" name="article_title">
    </label></p>
        <p><label>
            <span>文章描述</span>
            <input type="text" name="article_desc">
        </label></p>
        <p><label class="upload">
        <span>文章logo</span>
        <div class="img-upload">
            <input type="button" value="上传图片" id="button" class="button">
            <input type="file" id="upload" accept="image/*" value="" onfocus="this.blur()" name="article_logo"/><br>
            <!--多文件上传 multiple="multiple" accept="image/*"-->
            <img id="img" src="/static/public/img/logo.png" alt="logo">
        </div>
    </label></p>
        <div id="cat">
            <span>文章分类</span>
            <select class="db" name="cat_id">
                {volist name='indentCat' id='vo'}
                <option value="{$vo.cat_id}">{$vo.cat_name|raw}</option>
                {/volist}
            </select>
        </div>
        <div class="quill">
            <span>文章内容</span>
            <textarea id="editor1" name="article_content" placeholder="Type your text here...">
                实例
            </textarea>
        </div>
        <p><label>
            <div class="input-group" style="width: 99.9%;">
                <input type="submit" value="确认提交" class="button">
                <input type="button" value="取消编辑" class="button" onclick="document.location.href='index'">
            </div>
        </label></p>
    </form>
</div>


<script type="text/javascript" src="/static/wysiwyg/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/static/wysiwyg/js/wysiwyg.js"></script>
<script type="text/javascript" src="/static/wysiwyg/js/wysiwyg-editor.js"></script>
<script type="text/javascript" src="/static/wysiwyg/js/demo.js"></script>
</body>
</html>


