{include file="public/header" /}
</head>
<body>
{include file="public/menu"/}
<section>
    <div class="init">
        <a href="javascript:;" class="del-action">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span>批量删除</span>
        </a>
        <a href="{:url('article/add')}" class="add-action">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>添加文章</span>
        </a>
        <span>共有数据：{:model("Article")->where('status', '>', -1)->count()}条</span>
    </div>
    <div class="data">
        <table style="min-width: 700px;">
            <thead>
            <tr>
                <th>选择</th>
                <th>ID</th>
                <th style="min-width: 190px">标题</th>
                <th>状态</th>
                <th>发布时间</th>
                <th>编辑</th>
                <th>删除</th>
                <th>查看</th>
            </tr>
            </thead>
            <tbody>
            {volist name="adminArt" id="vo"}
            <tr class="admin">
                <td><input type="checkbox" class="sel" sel_id="{$vo.article_id}"></td>
                <td>{$vo.article_id}</td>
                <td>{$vo.article_title}</td>
                <td><a href="{:url('article/status',['article_id'=>$vo.article_id,'status'=>$vo.status==1?0:1])}" class="status" title="点击修改状态">{$vo.status|status}</a>
                </td>
                <td>{$vo.update_time|date="Y-m-d"}</td>
                <td><a href="{:url('article/edit',['id'=>$vo.article_id])}" ><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true" title="修改"></i></a>
                </td>
                <td> <a href="javascript:;" class="show-del-model"
                        onClick="delAction('.confirm', '{:url('article/status',['article_id'=>$vo.article_id,'status'=>-1])}')"
                        true_id="{$vo.cat_id}">
                    <i class="fa fa-trash fa-fw" aria-hidden="true" title="删除"></i>
                </a></td>
                <td><a href="{:url('article/detail',['article_id'=>$vo.article_id])}"><i class="fa fa-gg" aria-hidden="true" title="查看"></i></a></td>
            </tr>
            {/volist}
            </tbody>
        </table>
        {$adminArt|raw}
    </div>

</section>

<div class="del-model">
    <div class="model-shade cancel"></div>
    <div class="model-box">
        <h4>
            <span>信息</span>
            <i class="fa fa-times fa-lg cancel" aria-hidden="true"></i>
        </h4>
        <div class="input-group">
            <p>确认删除这个分类吗？</p>
            <input type="submit" class="button confirm" value="确&nbsp;定" onclick="">
            <input type="button" class="button cancel" value="取&nbsp;消">
        </div>
    </div>
</div>

</div>
{include file="public/footer" /}
